h1 {
    text-align: center;
    
}

h2 {
    text-align: center;
}


h4 {
    text-align: center;
    max-width: 80%;
    margin: auto;
    
}

#timers {
text-align: center;
}

#score {
    text-align: center;
}

#startButton {
    margin: auto;
    text-align: center;
    height: 100px;
    width: 500px;
    font-weight: bolder;
}

